.inputForm{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.modernInput{
    border: none;
    width: 100%;
    display: block;
    color: black;
    font-size: 16px;
}

.modernInput:focus{
    outline: none;
}
